.cabecalho__menu{
    display: none;
    position: fixed;
    background: #302325;
    width: 50vw;
    left: 0px;
    top: 0px;
    height: 100vh;
    padding: 20px;
    animation: dropbar-open;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    z-index: 100;
}

@keyframes dropbar-open{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
    }
}


.menu__item{
    display: block;
    padding: 15px;
    animation: texto-efeito;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes texto-efeito{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.cabecalho__menu-burger{
    left: 20px;
    position: absolute;
    color: #FFF2E7;
    display: block;
    cursor: pointer;
}
